:root {
    --font-family-base: system-ui;
    --popup-font-size: 16px;
    --popup-min-width: 400px;
    --popup-min-height: 130px;
    --border-radius: 10px;
    --light-color: #FFF;
    --error-color: red;
    --warning-color: orange;
    --success-color: green;
    --info-color: blue;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    min-width: var(--popup-min-width);
    font-family: var(--font-family-base), sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

label {
    font-size: var(--popup-font-size);
}

select {
    font-family: inherit;
    font-size: var(--popup-font-size);
    border-radius: var(--border-radius);
}

.popup-header {
    padding: 0;
    margin: 0;
}

.status {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: center;
}

.status-message {
    font-size: var(--popup-font-size);
    margin-top: 6px;
}

.status-message.success {
    color: var(--success-color);
}

.status-message.warning {
    color: var(--warning-color);
}

.status-message.error {
    color: var(--error-color);
}

.status-message.info {
    color: var(--info-color);
}

.muted {
    font-size: 14px;
    color: #888;
}